/* CSS files add styling rules to your content */

body {
  font-family: "Overpass", serif;
  background-color: #1DA1F2;
  margin: 2em;
  padding: 2em;
  font-size: 16px;
  line-height: 20px;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 25% ;
  padding: 24px;
}



hr {
  height: 1px;
  color: #999966;
  background-color: #999966;
  border: none;
}

.btn,
p.itemPara,
p {
  padding: 12px 16px;
  margin: 2px;
}

h1,
p {
  padding: 12px 3px;
  font-size: 50px;
  margin: 2px;
}

h2,
p {
  padding: 12px 3px;
  font-size: 24px;
  margin: 2px;
  text-align: center;
}

caption,
p {
  padding: 12px 3px;
  font-size: 24px;
  margin: 2px;
}

h3,
p {
  color: white;
  padding: 12px 3px;
  font-size: 90px;
  margin: 2px;
}

label,
p {
  color: white;
  padding: 12px 3px;
  font-size: 20px;
  margin: 2px;
}

a,
p {
  color: black;
  font-size: 16px;
  line-height: 24px;
}

a.itemLink,
p.itemPara {
  float: left;
  display: inline-block;
  border-radius: 12px;
  background-color: #1198ed;
}

.filterDiv,
.show {
  float: center;
  width: 100%;
}

.filterDiv,
.show,
.btn {
  margin: 2px 2px;
}

.filterDiv {
  display: none;
}

.show {
  display: inline-block;
}

#myBtnContainer {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border-radius: 12px;
  background-color: #CCD6DD;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #E1E8ED;
}

.btn.active {
  background-color: #66757F;
  color: white;
}
